<!DOCTYPE html>
<html>
<head>
    <title>Mapa con Folium</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Estilos CSS -->
    <style>
        /* Estilo del contenedor del mapa */
        #map {
            text-align: center;
            width: 70%; 
            height: 70%;
            border: 2px solid black;
            margin: 20px auto;
        }       
    </style>
</head>
<body>
    <h1>Mapa de Cochabamba</h1>

    <!-- Contenedor del mapa -->
    <div id="map">
        {{ mapa|safe }}
    </div>

    <!-- Enlace de descarga -->
    <a href="/download">Descargar Mapa</a>
</body>
</html>
